<odoo>
    <menuitem id="estate_menu_root" name="Real Estate" sequence="10" groups="estate.group_estate_user,estate.group_estate_manager" />

    <record id="action_property" model="ir.actions.act_window">
        <field name="name">Properties</field>
        <field name="res_model">estate.property</field>
        <field name="view_mode">kanban,tree,form</field>
        <field name="search_view_id" ref="view_property_search" />
    </record>

    <menuitem id="estate_menu_properties"
        name="Properties"
        parent="estate_menu_root"
        action="action_property"
        sequence="10" />

    <menuitem id="estate_menu_offers"
        name="Offers"
        parent="estate_menu_root"
        action="action_property_offer"
        sequence="20" />

    <menuitem id="estate_menu_reporting"
        name="Reporting"
        parent="estate_menu_root"
        action="action_property_report"
        sequence="30" />

    <menuitem id="estate_menu_report_export"
        name="Export Reports"
        parent="estate_menu_root"
        action="action_estate_report_wizard"
        sequence="35" />

    <menuitem id="estate_menu_configuration"
        name="Configuration"
        parent="estate_menu_root"
        sequence="90"
        groups="estate.group_estate_manager" />

    <menuitem id="estate_menu_property_type"
        name="Property Types"
        parent="estate_menu_configuration"
        action="action_property_type"
        sequence="10"
        groups="estate.group_estate_manager" />

    <menuitem id="estate_menu_property_tag"
        name="Property Tags"
        parent="estate_menu_configuration"
        action="action_property_tag"
        sequence="20"
        groups="estate.group_estate_manager" />
</odoo>
